<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>About</title>
<link rel="stylesheet" type="text/css" th:href="@{/about.css}">
</head>
<body>
	<header class="navbar">
		<div class="symbol">
	        <div class="symbol-container"></div>
		        <div class="brand-text">
					 <h1 class="brand">Maii Construction and Developers</h1>
					      <p class="tagline">Structural Engineering</p>
				</div>
	     </div>
	     <nav>
			 <ul class="nav-links">
			 	<a href="/home">Home</a>
			 	<a href="/openAbout">About</a>
			 	<a href="/contact">Contact</a>
				<a href="/openProject">Projects</a>
				<a href="/openService">Services</a>
			 </ul>
		</nav>
	</header>
	<section class="about-container">
		<p>
        	Maii Construction and Developers is a trusted name in design, construction and infrastructure development, 
        	specializing in high-quality civil works. With years of experience, 
        	we deliver durable, well-planned, and aesthetically designed construction solutions.
   			We are experts in Structural designs (Steel structures and RCC), Construction of RCC Retaining wall, Cement concrete and Bituminous Road construction, landscapping, compound wall, drainage systems, and concealed gutter designs, 
			ensuring that roads look clean, organized, and free from visible drainage structures. 
			Our focus is on quality, safety, timely completion, and customer satisfaction.
        </p>
     
        <h2>Our Services</h2>
		<ul>
		<li>Analysis and Design of RCC and Steel Structures with Detailed Wind and Earthquake Analysis</li>
			<li>RCC Retaining Wall</li>
			<li>Landscapping Work</li>
			<li>RCC &amp; Bituminous Road Works</li>
			<li>Drainage &amp; Gutter Construction</li>
			<li>Concealed Drainage &amp; Gutter Design</li>
			<li>Compound Construction</li>
			<li>Site Development &amp; Civil Works</li>
			<li>Repair &amp; Maintenance Works</li>
								
		</ul>
	</section>
<section class="earthmover-section">
	<h2>Earthmovers Rental Services</h2>

		<p>
		    Maii Construction and Developers also provides construction machinery for rent.
			Our machines are well maintained and suitable for all types of civil and infrastructure works, 
			ensuring safe and efficient performance at site.
		    <br>
		    These earthmovers and equipments are available with experienced operators,  
		    depending on project requirements. Competitive pricing and timely availability are guaranteed.
		
		</p>
</section>
		
		<ul class="machine-list">
		    <h3 class="earthmover-note">Available earthmovers are mentioned below & additional equipments can be arranged on demand</h3>
		</ul>
		<div class="project-block">
		
			<div class="project-pic">
		       <div class="machine-item">
        			<img th:src="@{/images/M1.jpg}">
        			<p>Double Drum Vibrator Roller</p>
    			</div>
		        <div class="machine-item">
        			<img th:src="@{/images/M2.jpg}">
        			<p>Ajax</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M14.jpg}">
        			<p>Poclain Excavator</p>
    			</div>
		        <div class="machine-item">
        			<img th:src="@{/images/M3.jpg}">
        			<p>Baby Roller</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M4.jpg}">
        			<p>Blade Dozer</p>
    			</div>
		       
		        <div class="machine-item">
        			<img th:src="@{/images/M6.jpg}">
        			<p>JCB Excavator</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M7.jpg}">
        			<p>Single Drum Vibrator Roller</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M8.jpg}">
        			<p>Tractor Trolly</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M9.jpg}">
        			<p>Static Roller</p>
    			</div>
    			
    			<div class="machine-item">
        			<img th:src="@{/images/M12.jpg}">
        			<p>Static Roller</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M13.jpg}">
        			<p>Water Tanker</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M15.jpg}">
        			<p>JCB Excavator</p>
    			</div>
		        <div class="machine-item">
        			<img th:src="@{/images/M5.jpg}">
        			<p>Total Station</p>
    			</div>
    			<div class="machine-item">
        			<img th:src="@{/images/M10.jpg}">
        			<p>Autolevel</p>
    			</div>
		     </div>
		 </div>
		 
		 <section class="experts-section">
    
    <div class="experts-box">
        <h2 class="experts-heading">Meet Our Experts</h2>

        <div class="experts-container">

            <!-- Expert 1 -->
            <div class="expert-card">
                <img src="/images/Avtar1.jpg" alt="Expert">
                <p class="expert-name">Bhushan Mohan Amble, Diploma (Civil)</p>
                <p class="expert-role">
                    Founder, CEO,<br>Civil Engineer
                </p>
            </div>

            <!-- Expert 2 -->
            <div class="expert-card">
                <img src="/images/Avtar1.jpg" alt="Expert">
                <p class="expert-name">
                    Dhananjay Dheeraj Amble, MTech (Structures)
                </p>
                <p class="expert-role">
                    Co-Founder, COO,<br>Structural Engineer
                </p>
            </div>

        </div>
    </div>



		
	
</body>
</html>

