<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project</title>
<link rel="stylesheet" type="text/css" th:href="@{/project.css}">
</head>
<body>
	<header class="navbar">
		<div class="symbol">
	        <div class="symbol-container"></div>
	        	<div class="brand-text">
					 <h1 class="brand">Maii Construction and Developers</h1>
					      <p class="tagline">Structural Engineering</p>
				</div>
	     </div>
	     <nav>
			 <ul class="nav-links">
			 	<a href="/home">Home</a>
			 	<a href="/openAbout">About</a>
			 	<a href="/contact">Contact</a>
				<a href="/openProject">Projects</a>
				<a href="/openService">Services</a>
			 </ul>
		</nav>
	</header>
	<!--Retaining Wall-->
	<div class="project-block">
		<h2>Analysis and Design of RCC and Steel Structures</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
				<img th:src="@{/images/img-01.jpg}">
		        <img th:src="@{/images/img-06.jpg}">
		        <img th:src="@{/images/img-04.jpg}">
		        <img th:src="@{/images/img-05.jpg}">
		        <img th:src="@{/images/img-07.jpg}">
		    
		    <div class="flex-break"></div>
		    
		    <h2>Landscaping Work at KLE hostel Hubali</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-026.jpg}">
		        <img th:src="@{/images/img-027.jpg}">
		    
		    <div class="flex-break"></div>
		    
		    
		  <h2>Foundation work for electrical structures</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-09.jpg}">
		        <img th:src="@{/images/img-011.jpg}">
		        <img th:src="@{/images/img-010.jpg}">
		    
		    <div class="flex-break"></div>
		    
		  <h2>RCC residential work at Nipani</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-012.jpg}">
		        <img th:src="@{/images/img-013.jpg}">
		        <img th:src="@{/images/img-014.jpg}">
		    
		    <div class="flex-break"></div>
			
		<h2>KLE society's JGMM medical College and hospital, Hubali</h2>
			<div class="project-pic">
				<p class="tight-text">Construction of water fountain</p>
		        <div class="flex-break"></div>
		         <img th:src="@{/images/img-042.jpg}">
		         <img th:src="@{/images/img-043.jpg}">
		         <img th:src="@{/images/img-18.jpg}">
		    
		    <div class="flex-break"></div>
	    		<p>RCC & Bituminous Road Works</p>
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-017.jpg}">
		        <img th:src="@{/images/img-016.jpg}">
		        <img th:src="@{/images/img-015.jpg}">
		        <img th:src="@{/images/img-8.jpg}">
		        <img th:src="@{/images/img-10.jpg}">
	        
	        <div class="flex-break"></div>
		        <p>Base Plate Installation for Steel Structure Work</p>
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-018.jpg}">
		        <img th:src="@{/images/img-019.jpg}">
		        <img th:src="@{/images/img-3.jpg}">
		        <img th:src="@{/images/img-6.jpg}">
		        
	        
	        <div class="flex-break"></div>
		        <p>RCC Retaining Wall</p>
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-4.jpg}">
		        <img th:src="@{/images/img-7.jpg}">
		        <img th:src="@{/images/img-19.jpg}">
		        
		     <div class="flex-break"></div>
		        <p>RCC Staircase Work</p>
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-21.jpg}">
		        <img th:src="@{/images/img-22.jpg}">
		        
	       
	       <div class="flex-break"></div>
		        <p>Drainage/Gutter Construction</p>
	    		<div class="flex-break"></div>
	        	<img th:src="@{/images/img-1.jpg}">
		    
	        
	        <br>			<!-- br is not working...When a container uses display: flex or grid, <br> is ignored-->
	        
	        
	        <div class="flex-break"></div>
	        
	        <h2>Installation of Steel Structure at Hubali</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-020.jpg}">
		        <img th:src="@{/images/img-021.jpg}">
		        <img th:src="@{/images/img-022.jpg}">
		    
		    <div class="flex-break"></div>
	        
	        
	     <h2>Bhoomaraddi College of Engineering and Technology (BVB), Hubali</h2>
	     	<div class="flex-break"></div>
		    <p class="tight-text">Bituminous Road Works</p>
	        <!-- img-5 starts on new line -->
   		    <div class="flex-break"></div>
   		    <img th:src="@{/images/img-15.jpg}">
	        <img th:src="@{/images/img-13.jpg}">
	        
	        
	       	<div class="flex-break"></div>
	       	
	       	<p>RCC Road Works</p>
	        <!-- img-5 starts on new line -->
   		    <div class="flex-break"></div>
   		    <img th:src="@{/images/img-048.jpg}">
	        <img th:src="@{/images/img-047.jpg}">
	        <img th:src="@{/images/img-046.jpg}">
	        
	        
	       	<div class="flex-break"></div>
	    		<p>Base Preperation for Paving works</p>
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-038.jpg}">
		        <img th:src="@{/images/img-037.jpg}">
		        <img th:src="@{/images/img-036.jpg}">
	        
	        <div class="flex-break"></div>
	        
	        <h2>Structural Site Visit at Kolhapur</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-039.jpg}">
		        <img th:src="@{/images/img-040.jpg}">
		        <img th:src="@{/images/img-041.jpg}">
		    
		    <div class="flex-break"></div>
		    
		    <h2>CC road work at Shivshakti Sugars Ltd. Soundatti</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-044.jpg}">
		        <img th:src="@{/images/img-045.jpg}">
		    
		    <div class="flex-break"></div>
	       	
	       	<h2>Table Tennis Ground work at Nipani</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-023.jpg}">
		    
		    <div class="flex-break"></div>
		    
		    
		    <h2>Residential building work at Nipani</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-024.jpg}">
		        <img th:src="@{/images/img-025.jpg}">
		    
		    <div class="flex-break"></div>
		    
	     <h2>KLE GI Bagewadi College, Nipani</h2>
	     	<div class="flex-break"></div>
		    <p class="tight-text">Concrete Paving Work</p>
	        <!-- img-5 starts on new line -->
   		    <div class="flex-break"></div>
   		    <img th:src="@{/images/img-034.jpg}">
   		    <img th:src="@{/images/img-032.jpg}">
	        <img th:src="@{/images/img-035.jpg}">
	        <img th:src="@{/images/img-033.jpg}">
	        <img th:src="@{/images/img-5.jpg}">
	      
	        
	        <br>			<!--br is not working.. When a container uses display: flex or grid, <br> is ignored-->
	        
	        <div class="flex-break"></div>
	        
	        <h2>Renovation of Building at Nipani</h2>
			<div class="project-pic">
		        <div class="flex-break"></div>
		        <img th:src="@{/images/img-028.jpg}">
		        <img th:src="@{/images/img-029.jpg}">
		        <img th:src="@{/images/img-031.jpg}">
		        <img th:src="@{/images/img-030.jpg}">
		    
		    <div class="flex-break"></div>
		    
	     <h2>Steel Structure at Nipani</h2>
	     	<div class="flex-break"></div>
	
	        <!-- img-2 starts on new line -->
   		    <div class="flex-break"></div>
		    <img th:src="@{/images/img-2.jpg}">
		    <img th:src="@{/images/img-11.jpg}">
		    <img th:src="@{/images/img-20.jpg}">
	       
	  	</div>
	    
		
	</div>
	
</body>
</html>