<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Services</title>
<link rel="stylesheet" type="text/css" th:href="@{/service.css}">
</head>
<body>
	<header class="navbar">
		<div class="symbol">
	        <div class="symbol-container"></div>
	        	<div class="brand-text">
					 <h1 class="brand">Maii Construction and Developers</h1>
					      <p class="tagline">Structural Engineering</p>
				</div>
	     </div>
	     <nav>
			 <ul class="nav-links">
			 	<a href="/home">Home</a>
			 	<a href="/openAbout">About</a>
			 	<a href="/contact">Contact</a>
				<a href="/openProject">Projects</a>
				<a href="/openService">Services</a>
			 </ul>
		</nav>
	</header>
	
	<div class="service-block">			

	    <h2>Structural Design</h2>
	
	    <p>
	        We provide RCC and steel structural designs with detailed wind and earthquake analysis
	    </p>
	
	   

	</div>
	
	
	
	<!--RCC & Bituminous Road Works-->
	<div class="service-block">			

	    <h2>RCC & Bituminous Road Works</h2>
	
	    <p>
	        Construction of roads using reinforced concrete or bitumen 
	        layers for durability, smoothness, and safety.
	    </p>
	
	   

	</div>
	
	
	
	<!--Landscapping Work-->
	<div class="service-block">			

	    <h2>Landscapping Work</h2>
	
	    <p>
	        Planning, designing, and construction of outdoor areas, gardens, lawns, pathways, plants, 
	        and decorative elements to make a place beautiful and functional.
	    </p>
	

	</div>
	
	<!--water fountain-->
	<div class="service-block">			

	    <h2>Water Fountain</h2>
	
	    <p>
	        Designing water fountain to make a place look beautiful and refreshing.
	    </p>
	
	   
	</div>
	
	
	<!--Retaining Wall-->
	<div class="service-block">			

	    <h2>Retaining Wall Construction</h2>
	
	    <p>
	        We construct strong and durable retaining walls to prevent
	        soil erosion and ensure land stability in all conditions.
	    </p>
	
	   

	</div>
	
	
	
	
	<!--Drainage & Gutter Construction-->
	<div class="service-block">			

	    <h2>Drainage & Gutter Construction</h2>
	
	    <p>
	        Construction of systems and channels to properly collect, manage, 
	        and remove water to prevent flooding and waterlogging.
	    </p>
	
	   
	</div>
	
	
	
	<!--Concealed Drainage & Gutter Design-->
	<div class="service-block">			

	    <h2>Concealed Drainage & Gutter Design</h2>
	
	    <p>
	        Hidden drainage and gutter systems to keep surfaces clean while efficiently managing water flow.
	    </p>
	
	   
	</div>
	
	
	<!--Compound Construction-->
	<div class="service-block">			

	    <h2>Compound Construction</h2>
	
	    <p>
	        Construction of a compound wall, boundary wall, or fencing at ground level 
	        around a plot, land, or building to mark boundaries and provide protection.
	    </p>
	
	    

	</div>
	
	
	<!--Site Development & Civil Works-->
	<div class="service-block">			

	    <h2>Site Development & Civil Works</h2>
	
	    <p>
	        Preparing the site and doing construction-related work.
	    </p>
	
	   

	</div>
	
	
	<!--Repair & Maintenance Works-->
	<div class="service-block">			

	    <h2>Repair & Maintenance Works</h2>
	
	    <p>
	        Fixing and taking care of property or equipment.
	    </p>
	
	   
	</div>
	
</body>
</html>